html {

    background: radial-gradient(farthest-corner at right top, #9d8ed8, #06182D);
    height: 100%;
    font-family: 'Roboto', cursive;
}

.container {
    display: grid;
    justify-items: end;
    justify-content: center;
}

h1 {
    font-size: 48px;
    text-align: center;
    color: white;
}

h2 {
    font-size: 28px;
    text-align: center;
}

.lista {
    display: grid;
}